.boxImg{
	width: 100px;
	height: 100px;
	border: 1px solid red;
	position: absolute;
	left: 500px;
	top: 100px;
}
.boxBtns{
	width: 100px;
	height: 50px;
	border: 1px solid red;
	position: absolute;
	left: 500px;
	top: 220px;
}
.ulImgs{
	position: absolute;
	width: 100%;
	height: 100%;
	background: deepskyblue;
	left: -150%;
	top: 0;
	/*overflow: hidden;*/
}
.ulImgs li{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background-size: cover;
}
.ulbtns{
	position: absolute;
	width: 100%;
	height: 100%;
	background: blue;
}
.ulbtns li{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background: paleturquoise;
}









